[Unit]
Description=Sanity check /dev/urandom using the randomsanity.org service
After=network.target
Wants=systemd-random-seed.service

[Service]
EnvironmentFile=-/etc/sysconfig/randomsanity
ExecStart=/usr/bin/randomsanity

[Install]
WantedBy=multi-user.target
