[Unit]
Description=Sanity check /dev/urandom using the randomsanity.org service
After=network.target
Wants=systemd-random-seed.service

[Service]
EnvironmentFile=-/etc/sysconfig/randomsanity
ExecStart=/usr/local/bin/randomsanity

[Install]
WantedBy=user.target
